<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TPL-Sales.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9E40343B1F63DCCD00EA6CA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9E4034521F63DCCD00EA6CA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9E40345D1F63DCCD00EA6CA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
